@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --links-color: hsla(0, 0%, 0%, 0.435);
}

body{
    font-family: 'Epilogue', sans-serif;;
}

.wrap{
    background-color: hsl(0, 0%, 98%);
    height: 100vh;
    max-height: auto;
    min-height: 900px;
}


header{
    width: 100%;
    height: 10vh;
    min-height: 90px;
    display: flex;
}

.hamburger{
    display: none;
}

nav{
    width: 95%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
}

.logo{
    margin-right: 50px;
}

.mobile-menu{
    display: flex;
    width: 100%;
}

.links-cont{
    display: flex;
    padding: 20px 0;
}



.links-cont a{
    font-size: 17px;
    color: var(--links-color);
    text-decoration: none;
    color: var(--links-color)
}

.links-cont a:hover{
   color: black;
}

.links-cont .link{
    margin-right: 30px;
}

.links-cont .drop-down{
    margin-right: 30px;
    position: relative;
}

.drop-down .drop-header{
    display: flex;
    
}

.drop-down .caret{
    margin-left: 10px;
}

.drop-down.active-drop .caret{
    transform: rotate(-180deg);
}


.drop-down ul {
    display: none;    
}

.drop-down.active-drop ul {
    display: block;
    position: absolute;
    -webkit-box-shadow: 0px 0px 15px 4px #00000024; 
    box-shadow: 0px 0px 15px 4px #00000024;
    background-color: white;
    white-space: nowrap;
    margin-top: 15px;
    padding: 10px 15px;
    border-radius: 10px;
}


.drop-down .first-drop {
    right: 0;
}


.drop-down ul li{
  list-style: none;
  margin: 15px 10px;
  display: flex;
}

.drop-down ul li .icon{
    margin-right: 15px;
}


.btn-cont{
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-cont button{
    padding: 10px 23px;
    background-color: transparent;
    cursor: pointer;
    color: var(--links-color);
    font-size: 16px;

}

.btn-cont button:hover{
    color: rgb(0, 0, 0);
}

.btn-cont button:first-child{
    border: none;
    font-size: 17px;
    margin-right: 20px;
}

.btn-cont button:last-child{
    border: solid 2px var(--links-color);
    border-radius: 10px;
}

.btn-cont button:last-child:hover{
    border: solid 2px black;
}

main{
    display: flex;
    padding-top: 50px;
    height: 810px;
    max-width: 1200px;
    margin:0 auto;
    height: 90vh;
}

main .cont-1{
    width: 50%;
    padding-left: 45px;
    padding-right: 20px;
}

main .cont-1 h1{
    font-size: 5rem;
    margin-top: 110px;
}

main .cont-1 p{
    font-size: 18px;
    margin-top: 50px;
    padding-right: 70px;
    line-height: 30px;
}

main .cont-1 button{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 15px 30px;
    font-weight: 700;
    font-size: 18px;
    margin-top: 45px;
    border: solid 2px black;
}

main .cont-1 button:hover{
   background-color: white;
   color: black;
}

main .sponsors{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 120px;
}

main .cont-2{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    height: 650px;
}

main .cont-2 .mobile-img{
    display: none;
}

@media screen and (max-width:1000px){
    
    .wrap{
        height: auto;
        min-height: auto;
    }

    .logo img{
        width: 110px;
        margin-left: 10px;
    }

    .hamburger{
        display: flex;
        position: absolute;
        width: 45px;
        right: 25px;
        top: 25px;
        height: 25px;
    }

    .hamburger img{
        width: 100%;
        height: 100%;
    }

    /* .hamburger {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 45px;
        height: 35px;
        right: 20px;
        top: 25px;
        justify-content: center;
    } */

    /* .hamburger .line{
        width: 100%;
        height: 3px;
        margin:3px 0;
        background-color: black;
    } */

    main{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        padding-top: 0;
        height:auto;
    }

    .mobile-menu{
        display: none;
    }

    main .cont-1{
        width: 100%;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        padding: 0px 10px;
        height: 50%;
    }

    main .cont-1 h1{
        font-size: 2.2rem;
        margin-top: 0px;
    }

    main .cont-1 p{
        font-size: 16px;
        margin-top: 20px;
        padding-right: 0px;
        line-height: 30px;
    }

    main .cont-1 button{
        background-color: black;
        color: white;
        border-radius: 20px;
        font-weight: 700;
        font-size: 18px;
        margin-top: 20px;
        border: solid 2px black;
    }

    main .cont-2{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        height: 300px;
        margin-bottom:50px;
    }

    main .cont-2 .mobile-img{
       display: block;
       height: 100%;
       width: 100%;
    }
    
    main .cont-2 .desktop-img{
       display: none;
    }

    main .sponsors{
       width: 100%;
       display: flex;
       align-items: center;
       justify-content: space-between;
       margin-top: 40px;
       margin-bottom: 100px;
    }

    main .sponsors .sponsor{
      width:75px;
    }

    main .sponsors .sponsor img{
        width: 100%;
    }

    main .sponsors .sponsor:nth-child(2) img{
        width: 75%;
    }

}
